.formNuevoCliente{
	margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.formNuevaRedCliente{
  float:left;
	margin-left: 100px;
  width: 280px;
}

.fan_pages{
  overflow: scroll;
  float:left;
  margin-left: 60px;
  width: 250px;
  height: 370px;
}

p.simbolo{
	width: 5px;
	height: 5px;
	color: #C20404;
	display: inline-block;
}
p.leyenda{
	color: #C20404;
}

.form_reports{
  margin: auto;
  width: 400px;
}
