// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nuevoCliente{
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}

p.simbolo{
	width: 5px;
	height: 5px;
	color: #C20404;
	display: inline-block;
}
p.leyenda{
	color: #C20404;
}

.estiloBotonPre{
	position: absolute;
}

.estiloBotonNext{
	position: absolute;
}