// Place all the styles related to the Facebook_data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 

$green: #04B404;
$red: #FF0000; 
$textSize: 90%;
$top_position: 450px;
$left_position: 80px;
$space: 400px;

.sectionInformation{
	max-width: 1080px;
	position: relative;
}

.sectionTable{
	margin: 0px 42px 0px 42px;
}

.tableStyle{
	font: {
	  size: $textSize;
	};
}

.positiveValue{
	color: $green;
}

.negativeValue{
	color: $red;
}

.nilValue{
	background-color: #688A08;
}

.margin{
	margin: 0px 20px 0px 50px;
}

.headerTable{
	background-color: #000000;
	color: #FFFFFF;
	font: {
	  weight: bold;
	  size: $textSize;
	};
}

.titlesRows{
	background-color: $red;
	font: {
	  weight: bold;
	  size: $textSize;
	}

}

.estilo_graficos{
	border-style: ridge;
	border-width: 5px;
	height: 400px;
	margin: 50px 42px 0px 42px;
}

.informacion{
	position:absolute;
	left:$left_position;
}

.fans{
	position:absolute;
	left: $left_position+$space;
}

.interactividad{
	position:absolute;
	top: $top_position;
	left:$left_position;
}

.inversion{
	position:absolute;
	top: $top_position+20;
	left:$left_position+$space;

}

.costes{
	position:absolute;
	top: $top_position+335;
	left:$left_position+$space;
}

.save{
	position:absolute;
	top: 1125px;
	left: 300px;
}

.back{
	position:absolute;
	top: 1125px;
	left:500px;
}
.box
{
	width: 250px;
	padding: 30px;
	border:2px solid;
	border-radius:25px;
	border-color: #BDBAB3;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
	box-shadow: 10px 10px 5px #888888;
}

.styleBoxInformation{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	display: none;
	visibility: hidden;
	border-radius:25px;
	border:2px solid;
	border-color: #BDBAB3;
	-moz-border-radius:15px; /* Firefox 3.6 and earlier */
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 20px;
	margin-bottom: 25px;
	display: none;
	visibility: hidden;
}
