// Place all the styles related to the Facebook_data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 

$green: #04B404;
$red: #FF0000; 
$textSize: 90%;

.sectionInformation{
	max-width: 1080px;
}

.sectionTable{
	margin: 0px 42px 0px 42px;
}

.tableStyle{
	font: {
	  size: $textSize;
	};
}

.positiveValue{
	color: $green;
}

.negativeValue{
	color: $red;
}

.nilValue{
	background-color: #688A08;
}

.newFacebookDatum{
	margin: 0px 20px 0px 50px;
}

.headerTable{
	background-color: #000000;
	color: #FFFFFF;
	font: {
	  weight: bold;
	  size: $textSize;
	};
}

.titlesRows{
	background-color: $red;
	font: {
	  weight: bold;
	  size: $textSize;
	}

}

.estilo_graficos{
	border-style: ridge;
	border-width: 5px;
	height: 400px;
	margin: 50px 42px 0px 42px;
}

.estilo_div_facebook{
	margin: 0px 20px 0px 50px;
}
