$green: #04B404;
$red: #FF0000; 
$textSize: 90%;
$top_position: 450px;
$left_position: 80px;
$space: 400px;

.sectionInformation{
	max-width: 1080px;
	position: relative;
}

.sectionTable{
	overflow: auto;
	margin: 0px 42px 0px 42px;
}

.celdaOpciones{
	background-color: #FFFF66;
}

.tableStyle{
	font: {
	  size: $textSize;
	};
}

.positiveValue{
	color: $green;
}

.negativeValue{
	color: $red;
}

.nilValue{
	background-color: #688A08;
}

.margin{
	margin: 40px 20px 40px 50px;
}

.headerTable{
	background-color: #000000;
	color: #FFFFFF;
	font: {
	  weight: bold;
	  size: $textSize;
	};
}

.titlesRows{
	background-color: $red;
	font: {
	  weight: bold;
	  size: $textSize;
	}

}

.estilo_graficos{
	border-style: ridge;
	border-width: 5px;
	height: 400px;
	margin: 50px 42px 0px 42px;
}

.informacion{
	position:absolute;
	left:$left_position;
}

.fans{
  position:absolute;
  left:$left_position+$space;
}

.interaction{
	position:absolute;
	left: $left_position;
	top:390px;
}

.inversion{
	position:absolute;
	top: -50+$top_position;
	left:$left_position+$space;

}

.costes{
	position:absolute;
	top: $top_position+280;
	left:$left_position+$space;
}

.saveFacebook{
	position:absolute;
	top: 1125px;
	left: 300px;
}

.backFacebook{
	position:absolute;
	top: 1125px;
	left:500px;
}

.box
{
	width: 250px;
	padding: 30px;
	border:2px solid;
	border-radius:25px;
	border-color: #BDBAB3;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
	box-shadow: 10px 10px 5px #888888;
}

.styleBoxInformation{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	display: none;
	border-radius:25px;
	border:2px solid;
	border-color: #BDBAB3;
	-moz-border-radius:15px; /* Firefox 3.6 and earlier */
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 20px;
	margin-bottom: 25px;
	display: none;
	visibility: hidden;
}

.estiloRangoFechas{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	border-radius:25px;
	border:2px solid;
	border-color: #BDBAB3;
	-moz-border-radius:15px; /* Firefox 3.6 and earlier */
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 20px;
	margin-bottom: 25px;
	visibility: hidden;
	display: none;

}

.comment{ 
	margin: 30px 42px 100px 42px;
}

.comment textarea{
  height: 180px;
  width: 99%;
}

.comment button{
  float:left;
}

.title{
  margin: 0px 0px 20px 0px;
}

.result{
  float:left;
  margin-top: 7px;
  margin-left: 30px;
  color: #FF0000;
  font-weight: bold;
}

.estilo_tabs{
  margin: 0px 50px 40px 50px;
}

.form_nueva_imagen textarea{
  max-width: 500px;
  width: 100%;
  max-height: 200px;
}

.form_nueva_imagen{
  max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius:25px;
	border:2px solid;
	border-color: #BDBAB3;
	-moz-border-radius:15px; /* Firefox 3.6 and earlier */
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 20px;
	margin-bottom: 25px;
	visibility: hidden;
	display: none;
}
