$top_position: 390px;
$left_position: 80px;
$space: 400px;

.informationFlickr{
	position:absolute;
	left:$left_position;
}

.comunityFlickr{
	position:absolute;
  top:35px;
	left: $left_position+$space;
}

.interactionFlickr{
	position:absolute;
	top: -140 + ($top_position);
	left:$left_position;
}

.investmentFlickr{
	position:absolute;
	top: -140 + ($top_position);
  left:$left_position+$space;

}

.saveFlickr{
	position:absolute;
	top: 600px;
	left: 300px;
}

.backFlickr{
	position:absolute;
	top: 600px;
	left:500px;
}
