.informationFoursquare{
  margin:auto;
}

.interactivity-foursquare{
  position: absolute;
  left: 100px;
  top: 350px;
}

.campaign-foursquare{
  position: absolute;
  top: 400px;
  left: 500px;
}

.informationFoursquare{
  margin:auto;
}

.saveFoursquare{
	position:absolute;
  top: 700px;
	left: 300px;
}

.backFoursquare{
	position:absolute;
  top: 700px;
	left: 500px;
}
