body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 14px;
}

h1, h2, h3, input {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#contentWrapper {
	overflow: hidden;
}

.titulo {
	font-size: 20px;
	padding: 15px 0px;
}

.menu_links {
	color: red;
}

#header_wrapper {
	background-image: url('/assets/images/skyline.gif');
	height: 65px;
	overflow: hidden;
	margin: -1px 0px 0px 0px;
}

#inner_header {
	background-color: black;
	padding: 0px;
	border-bottom: 13px red solid;
	overflow: hidden;
	margin: -1px 0px 0px 0px;
}

.textHeader {
	margin: 0px 15px;
	padding: 0px;
	color: #999;
	font-size: 35px;
	margin-top: 28px;
	float: left;
}

.log_out {
	margin: 45px 50px 0px 0px;
	font-size: 15px;
	font-weight: normal;
	float: right;
}

.log_out_link {
	float: none;
	padding: 9px 10px 11px;
	line-height: 19px;
	color: #999;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.logoHydra {
	float: left;
	margin: 10px 25px 15px;
}

#homePage {
	margin: 100px auto;
	overflow: hidden;
}

.signInLabel {
	margin: 20px 0px;
}

.email_label {
	font-size: 14px;
}

.email_input {
	font-size: 14px;
}

.pass_label {
	font-size: 14px;
}

.email_input {
	width: 295px;
	height: 20px;
	margin: 20px 0px;
}

.pass_input {
	height: 20px;
}

.olvidate_contrasena {
	font-size: 12px;
	float: left;
	color: #666;
}

.button_sing_in {
	float: right;
}

.links {
    width: 135px;
    line-height: 16px;
    overflow: hidden;
    float: left;
}

.menu_principal {
	list-style: none;
	margin-top: 50px;
	overflow: hidden;
	font-size: 17px;
	font-weight: bold;
}

.espaciado_menu_item {
	margin-left: 80px;
}

.menu_item {
	float: left;
}

.imagen_menu {
	margin: 1px 7px 0px 0px;
}

#nuevo_comentario {
	margin-top: 30px;
	margin-left: 40px;
	overflow: hidden;
}
.formato_crear_comentario {
	overflow: hidden;
	width: 1050px;
}
.field {
	float: left;
	padding: 25px 25px;
	background-color: #e5e5e5;
}
.label {
	padding: 40px 0px 20px 0px;
	font-weight: bold;
}
.label_comentario {
	margin-left: 25px;
}
.label_sugerencia {
	margin-left: 275px;
}
.label_coment_empresa {
	margin-left: 275px;
}
.actions {
	float: right;
	margin-top: 20px;
	margin-bottom: 25px;
	
}
.boton_crear {
	background-color: #c20000;
	border: none;
	width: 90px;
	height: 35px;
	color: white;
	font-size: 14px;
}

.info {
	background-color: #e5e5e5;
}

.resultadosComentarios {
	text-align: center;
}

.resultadosComentarios tr th {
	width: 400px;
	height: 40px;
}

.resultadosComentarios tr td {
	height: 200px;
	margin: -10px;
}

#footerWrapper {
	background-color: #000;
	color: #fff;
	height: 100px;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
}

#footerContent {
	width: 700px;
	margin: 30px auto;
	text-align: center;
}

.pernix a {
	color: #0066CC;
}

.sx_login-button_medium {
	width: 22px;
	height: 22px;
	
}

.sp_login-button {
	background-image: url('/assets/images/fblogo_btn.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 25px;
	width: 26px;
	background-position: -0px -106px;
	margin-right: -1px;
}

.btnFB{
    -moz-user-select: none;
    background: #2A49A5;
    border: 1px solid #082783;
    box-shadow: 0 1px #4C6BC7 inset;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #082783;
    font: 12px Verdana, sans-serif;
}

.tableLogin{
  border: 1px groove;
  width: 600px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 100px;
}

.loginNormal{
  width: 300px;
  float:left;
  margin-top: 50px;
  margin-left:120px;
}

.loginFacebook{
  width: 400px;
  float:left;
}

.titleFacebook{
  margin-top:100px;
  margin-left:90px;
  float:left;
}

.botonLogin{
  margin-top: 100px;
  float:left;
  margin-left: 150px;
}
