$top_position: 390px;
$left_position: 80px;
$space: 400px;

.formNewInternalMonitoring{
  margin:auto;
  width: 500px;
}

.informationInternalMonitoring{
  position: absolute;
  left:$left_position;
}

.themesInternalMonitoring{
  position: absolute;
  top: -140 + $top_position;
  left: $left_position;
}

.distributionInternalMonitoring{
  position: absolute;
  left: $left_position + $space
}

.saveInternalMonitoring{
	position:absolute;
	top: 940px;
	left: 300px;
}

.backInternalMonitoring{
	position:absolute;
	top: 940px;
	left:500px;
}
