.formNewMonitoring{
  margin:auto;
  width: 500px;
}

.newMonitoring{
  margin:auto;
  width: 900px;
}

.informationMonitoring{
  margin: auto;
}

.themesMonitoring{
  float: left;
  margin: 50px 0px 50px 70px;
}

.distributionMonitoring{
  float: right;
  margin: 50px 70px 0px 100px;
}

.saveMonitoring{
  margin-left: 40px;
}

.backMonitoring{
  margin-left: 30px;
}

.buttonsMonitoring{
  clear: both;
  margin: 10px auto 50px auto;
  width: 300px;
  height: 80px;
}

.sectionDataMonitoring{
  overflow: hidden;
  padding-bottom: 30px;
}
