$top_position: 390px;
$left_position: 80px;
$space: 400px;

.informationTuenti{
	position:absolute;
	left:$left_position;
}

.comunityTuenti{
	position:absolute;
  top: 80px;
	left: $left_position+$space;
}

.pageTuenti{
	position:absolute;
	top: -50 + ($top_position);
	left:$left_position;
}

.investmentTuenti{
	position:absolute;
	top: 380px;
  left:$left_position+$space;

}

.saveTuenti{
	position:absolute;
	top: 1030px;
	left: 300px;
}

.backTuenti{
	position:absolute;
	top: 1030px;
	left:500px;
}
