$top_position: 390px;
$left_position: 80px;
$space: 400px;

.informationTumblr{
	position:absolute;
	left:$left_position;
}

.comunityTumblr{
	position:absolute;
	left: $left_position+$space;
}

.interactionTumblr{
	position:absolute;
	top: -140 + ($top_position);
	left:$left_position;
}

.investmentTumblr{
	position:absolute;
	top: -200 + $top_position;
	left:$left_position+$space;

}

.saveTumblr{
	position:absolute;
	top: 550px;
	left: 300px;
}

.backTumblr{
	position:absolute;
	top: 550px;
	left:500px;
}
