$top_position: 390px;
$left_position: 80px;
$space: 400px;

.informationTwitter{
	position:absolute;
	left:$left_position;
}

.comunityTwitter{
	position:absolute;
	left: $left_position+$space;
}

.interactionTwitter{
	position:absolute;
	top: -140 + ($top_position);
	left:$left_position;
}

.investmentTwitter{
	position:absolute;
	top: $top_position;
	left:$left_position+$space;

}

.costsTwitter{
	position:absolute;
	top: $top_position+225;
	left:$left_position+$space;
}

.saveTwitter{
	position:absolute;
	top: 800px;
	left: 300px;
}

.backTwitter{
	position:absolute;
	top: 800px;
	left:500px;
}
