$top_position: 390px;
$left_position: 80px;
$space: 400px;

.informationYoutube{
	position:absolute;
	left:$left_position;
}

.comunityYoutube{
	position:absolute;
  top: 40px;
	left: $left_position+$space;
}

.interactionYoutube{
	position:absolute;
	top: -130 + ($top_position);
	left:$left_position;
}

.interaction_2_youtube{
	position:absolute;
	top: -130 + ($top_position);
  left:$left_position+$space;
}

.investmentYoutube{
	position:absolute;
	top: $top_position + 350px;
  left:$left_position+$space;

}

.costsYoutube{
	position:absolute;
	top: $top_position+225;
	left:$left_position+$space;
}

.saveYoutube{
	position:absolute;
	top: 1130px;
	left: 300px;
}

.backYoutube{
	position:absolute;
	top: 1130px;
	left:500px;
}
